@tailwind base;
@tailwind components;
@tailwind utilities;

.header-svg {
  background-image: url('./assets/img/icons/blob-haikei.svg');
  background-repeat: no-repeat;
}
@media (min-width: 976px) {
  .header-svg {
    background-position: 187% 27%;
    background-size: 90%;
  }
}
@media (min-width: 768px) {
  .header-svg {
    background-position: 187% 27%;
    background-size: 90%;
  }
}
/* @media (min-width: 480px) {
  .header-svg {
    background-position: 92% 0%;
    background-size: 216%;
  }
}
*/

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.hero-container {
  min-height: 100vh;
  padding: 2rem;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4rem 2rem;
}
@media (max-width: 768px) {
  .project-list {
    justify-items: center;
    row-gap: 100px;
  }
}
.project-item {
  max-width: 320px;
  height: 100%;
}

.about {
  min-height: 150vh;
}

.close-left,
.close-right {
  background-color: white;
  cursor: pointer;
  display: block;
  width: 24px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 25%;
  transform: rotate(0);
}
.close-left {
  transform: translateY(24px) rotate(-45deg);
}
.close-right {
  transform: translateY(24px) rotate(45deg);
}
